<!doctype html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Details </title>
</head>
<body>
    <h1>Book Details</h1>
    <p>Title of Book : {{book.title}}</p>
    <p>Author of Book : {{book.author.username}}</p>
    <p>publicationDate: {{book.publicationDate | date('M-d-Y')}}</p> 
</body>
</html>
```