<h1>Reader List</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Books</th>
    </tr>
    {% for reader in reader %}
        <tr>
            <td>{{ reader.id }}</td>
            <td>{{ reader.username }}</td>
            <td>
                <ul>
                    {% for book in reader.getbooks() %}
                        <li>{{ book.title }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
</table>
